build/
dist/
wheels/
*.egg-info


.pytest_cache

**/__pycache__/
**/*.py[oc]

# Virtual environments
.venv
**/.idea/

**/.DS_Store/

scripts/summary.ipynb

*.log
**/logs/

test

archive/

# Generated artifacts
artifacts/

